<a href="https://colab.research.google.com/github/vaishnaviravikanti/vaishnaviravikanti/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import datetime

DataFrame

In [7]:
students=['Alice','Bob','Emily','Charlie']

In [8]:
Scores=[90,80,65,50]

In [9]:
exam_results=pd.DataFrame(
    {
        "Name":students,
        "Scores":Scores
    }
)

In [10]:
exam_results

      Name  Scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [22]:
exam_results.loc[0,'Scores']

90

In [23]:
exam_results.loc[:,'Scores']

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [24]:
exam_results.loc[2,:]

Name      Emily
Scores       65
Name: 2, dtype: object

In [25]:
exam_results["Scores"]

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [42]:
exam_results.columns

Index(['Name', 'Scores', 'gender', 'genders'], dtype='object')

In [39]:
exam_results.drop('Name',axis=1 )

   Scores  gender genders
0      90    male    male
1      80  female  female
2      65    male    male
3      50  female  female

In [43]:
exam_results.drop('Name',axis=1)

   Scores  gender genders
0      90    male    male
1      80  female  female
2      65    male    male
3      50  female  female

In [44]:
exam_results.describe()

       Scores
count    4.00
mean    71.25
std     17.50
min     50.00
25%     61.25
50%     72.50
75%     82.50
max     90.00

In [45]:
exam_results.rename({'Name': 'FirstName'}, axis=1)

  FirstName  Scores  gender genders
0     Alice      90    male    male
1       Bob      80  female  female
2     Emily      65    male    male
3   Charlie      50  female  female

In [46]:
exam_results.drop('genders',axis=1)

      Name  Scores  gender
0    Alice      90    male
1      Bob      80  female
2    Emily      65    male
3  Charlie      50  female

In [47]:
sparse = pd.DataFrame(
    {
    'a': [1,2,3],
    'b': [np.nan,4,np.nan],
    'c': [5, np.nan,np.nan]}

)

In [52]:
sparse
sparse.isna()
sparse.fillna(0)
sparse.dropna(axis=1)
exam_results.groupby('gender').mean()

        Scores
gender
female    65.0
male      77.5

In [53]:
mylist=[1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    Name  Scores gender genders
0  Alice      90   male    male
2  Emily      65   male    male

In [54]:
exam_results.groupby(mylist).get_group(2)

      Name  Scores  gender genders
1      Bob      80  female  female
3  Charlie      50  female  female

In [55]:
exam_results.groupby(mylist).get_group(2)

      Name  Scores  gender genders
1      Bob      80  female  female
3  Charlie      50  female  female

In [56]:
above_70 =exam_results['Scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: Scores, dtype: bool

In [57]:
exam_results.groupby(above_70).mean()

        Scores
Scores
False     57.5
True      85.0

In [58]:
contacts = pd.DataFrame(
    {
     'Name' :['Alice','Charlie'] ,
     'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88'] 
    }
)

In [59]:
exam_results.merge(contacts, left_on='Name', right_on='Name')

      Name  Scores  gender genders                Tel
0    Alice      90    male    male  +91 999 999 99 99
1  Charlie      50  female  female  +91 888 888 88 88

In [60]:
exam_results.merge(contacts, left_on='Name', right_on ='Name', how ='outer')

      Name  Scores  gender genders                Tel
0    Alice      90    male    male  +91 999 999 99 99
1      Bob      80  female  female                NaN
2    Emily      65    male    male                NaN
3  Charlie      50  female  female  +91 888 888 88 88